.container_edit {

    h2 {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        font-weight: 500;
    }

    input {
        width: 100%;
        background-color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        margin-top: 8px;
        margin-bottom: 16px;
    }

    div {
        display: flex;
        gap: 20px;
        justify-content: right;
        margin-top: 30px;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .update {
        background-color: var(--color-confirm);
        color: #fff;

        &:hover {
            background-color: var(--btn-hover);
        }
    }

    .cancel {
        background-color: #ddd;

        &:hover {
            background-color: #ccc;
        }
    }
}