.grid {
    width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -18px;
}

.col_5 {
    width: 20%;
    padding: 0px 18px;
}

.col_8 {
    width: 80%;
    padding: 0px 18px;
}

.info {
    // border: 1px solid;
    width: 100%;
    padding: 0px 12px;

    .avata {
        width: 100%;
    }

    span {
        display: block;
        margin: 14px 0px;
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.avata {
    display: flex;
    justify-content: center;
    
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid #eee;
    }
}

.btn_addavatar {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
}

.detai_info {
    // border: 1px solid;

    label {
        width: 150px;
        display: block;
        margin-top: 20px;
        font-weight: 500;
    }

    input {
        margin-top: 10px;
        width: 100%;
        background-color: #e9ecef;
        padding: 12px 10px;
        border-radius: 5px;
        pointer-events: none;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }
}

.update_info {

    label {
        width: 150px;
        display: block;
        margin-top: 20px;
        font-weight: 500;
    }

    input {
        margin-top: 10px;
        width: 100%;
        background-color: #e9ecef;
        padding: 12px 10px;
        border-radius: 5px;
        // pointer-events: none;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }   

    button {
        display: flex;
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        font-weight: 500;
        justify-self: center;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .grid {
        width: 100%;
        max-width: 480px;
    }

    .row {
        margin: 0;

        .col_5, .col_8 {
            width: 100%;
        }

        .avata {
            display: none;
        }
    }
}