.container_policy {
    font-family: "Inter", sans-serif;


    h4 {
        margin-top: 20px;
    }

    p {
        margin: 20px 0px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container_policy {
        padding: 0px 10px;
    }
}